# Base Model Configuration
OPENAI_BASE_URL=https://ws-sm2imwfgji6oo7tq.cn-beijing.maas.aliyuncs.com/compatible-mode/v1
OPENAI_API_KEY=
ANTHROPIC_BASE_URL=https://ws-sm2imwfgji6oo7tq.cn-beijing.maas.aliyuncs.com/apps/anthropic
ANTHROPIC_API_KEY=

# PubMed E-utilities
NCBI_BASE_URL=https://eutils.ncbi.nlm.nih.gov/entrez/eutils/
NCBI_API_KEY=

# Semantic Scholar
SEMANTIC_SCHOLAR_BASE_URL=https://api.semanticscholar.org/graph/v1/
SEMANTIC_SCHOLAR_API_KEY=